{
  metrics
  log default {
	output stdout
	format json
	level info
	exclude http.handlers.reverse_proxy.health_checker
  }
}
:8080 {
  reverse_proxy /* test:8080 {
    fail_duration 10s
    health_uri /healthz
  }
  handle_errors 5xx {
    respond "It's a 5xx error."
  }
  log default
  respond /health 200
  metrics /metrics
}