{
  metrics
  log default {
	output stdout
	format json {
	  time_format iso8601
	}
	level info
	exclude http.log.access.test2
  }
}
:8080 {
  reverse_proxy /* test:8080 {
    fail_duration 10s
    health_uri /healthz
  }
  log test1
  handle_errors 5xx {
    respond "It's a 5xx error."
  }
}
:8081 {
  log test2
  respond /health 200
  metrics /metrics
}