alertmanager:
  enabled: true

grafana:
  enabled: true

prometheus:
  enabled: true

kubelet:
  enabled: true
  serviceMonitor:
    enabled: true

kubeControllerManager:
  enabled: false

coreDns:
  enabled: false

kubeDns:
  enabled: false

kubeEtcd:
  enabled: false

kubeScheduler:
  enabled: false

kubeProxy:
  enabled: false

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: false
